/**********
* Home page rules
**********/

.media-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.media-list .item {
    flex-basis: 24%;
    margin: 4px;

    background: #1f1f1f;

    padding-bottom: 25px;
}

.media-list .item .video {
    width: 100%;
}

.media-list .item .video iframe {
    width: 100%;
}

.media-list .item .title {
    color: #fff;
    font-weight: bold;

    padding: 8px 20px;
    text-align: center;
}

.media-list .item .title:after {
    content: "";
    display: block;
    width: 20px;

    margin: 10px auto 0 auto;
}

.media-list .item .serie:after {
    border-bottom: 1px solid var(--color-blue);
}

.media-list .item:hover {
    text-decoration: none;
}

.media-list .item .summary {
    color: #fff;
    padding: 8px 20px;

}

@media screen and (max-width: 768px) {
    .media-list .item {
        flex-basis: 100%;
    }
}

.media-detail{
    width : 97%;
}

.upper-detail {
    position: static;
    margin-left: -50px;
    top:0;
    margin-right: -50px;
    display: flex;
    flex-wrap: wrap;
    background: #3a3a3a;
    flex-basis: 100%;
    padding-top: 10px;
}
.upper-detail .headerText{
    margin-left: 4%;
}
.upper-detail h1{
    color: #fff;
}

.upper-detail p{
    padding-top: 20px;
    padding-bottom: -10px;
    color :#f72035;
}

.media-detail .media-content {
    display :flex;
    position: relative;
    bottom:0;
}

.media-detail .left-detail {
    width :20%;
    margin-left: -24px;
    height: 100%;
}

.media-detail .left-detail div{
    margin-left: 5px;
    padding-right: 10px;
    margin-top: 30px;
}

.media-detail .left-detail .media-summary{
    width :100%;
    max-height: 30%;
}

.media-detail .left-detail .media-summary p{
    max-height: 400px;
    overflow-x: scroll ;
    scroll-behavior: auto;
}

.media-detail .left-detail .media-infos{
    height: 45%;
}

.media-detail .media-content .video iframe{
    position: absolute;
    width : 86%;
    height: 100%;
}
