#parse("dashboard.html")
#@mainLayout()

<div>
    <div class="upper-detail">
        <h1 class="headerText">$media.getTitle()</h1>

        <p class="headerText">Durée : $media.getFullDurationFromEpisodes() minutes</p>
        <p class="headerText">$media.findGenreById()</p>
    </div>
    #foreach($episodes in $episodeList)
    <div> Saison $episodes.get(0).getSeason()</div>
        #foreach($episode in $episodes)
    <div class="episode-list">
        <a class="item" href="/episodes/$episode.getSeason()/$episode.getEpisode()">
            <div class="video">
                <div>
                    <iframe allowfullscreen="" frameborder="0"
                            src="$episode.getEpisodeUrl()" ></iframe>
                </div>
            </div>
            <div class="title">
                $episode.getTitle()
            </div>
        </a>
    </div>
        #end
    #end
</div>
#end