#parse("dashboard.html")
#@mainLayout()

<div class="row">
    <div class="row-cols-1 m-md-1">
        <form action="/medias/" method="get">
            <select name="type">
                <option value="">--Sélectionnez un type de média--</option>
                <option value="movie">Film</option>
                <option value="serie">Série</option>
            </select>
            <select name="genre">
                <option value="">--Sélectionnez un genre--</option>
                #foreach($genre in $genres)
                <option value="$genre.getName()">$genre.getName()</option>
                #end
            </select>
            <div>
                <label for="datestart">Date de début : </label>
                <input type="date" name="datestart" id="datestart"
                       min="1950-01-01">
                <label for="datend">Date de fin : </label>
                <input type="date" name="dateend" id="datend"
                       min="1950-01-01">
            </div>
            <div class="form-group has-btn">

                <input type="search" id="search" name="title" class="form-control"
                       placeholder="Rechercher un film ou une série">

                <button type="submit" class="btn btn-block bg-red">Valider</button>
            </div>
        </form>
    </div>
</div>

<div class="media-list">
    #foreach($media in $medias)
        #if ($media.getType().equals("movie"))
            <a class="item" href="/medias/$media.getId()">
                <div class="movie">
        #end
        #if($media.getType().equals("serie"))
            <a class="item" href="/episodes/">
                <div class="serie">
        #end
                <div class="video">
                    <div>
                        <iframe allowfullscreen="" frameborder="0"
                                src="$media.getTrailerUrl()" ></iframe>
                    </div>
                </div>
                <div class="title" class="serie">
                    $media.getTitle()
                </div>
                <div class="title" class="serie">
                    Date de sortie :
                    $media.getFormattedDate()
                </div>
                </div>
        </a>
    #end
</div>
#end
